%label{for: "calOneDays"} A
%select#calOneDays
  - (1..9).each do |n|
    - if n == 4
      %option{value: n, selected: true}=n
    - else
      %option{value: n}=n

%label{for: "timespan-start"} Start
%select#timespan-start
  - hour = Time.now.hour
  - 25.times do |n|
    - if n == hour
      %option{value: n, selected: true}=n
    - else
      %option{value: n}=n
    
%label{for: "timespan-end"} End
%select#timespan-end
  - hour = Time.now.hour + 5
  - hour = hour > 24 ? 23 : hour
  - 25.times do |n|
    - if n == hour % 24
      %option{value: n, selected: true}=n
    - else
      %option{value: n}=n
              
%label{for: "floor"} Floor
%select#floor
  %option{value: 0} Any
  - (3..6).each do |n|
    %option{value: n}=n

%button#make-reservation{type: "button"} Reserve
%button#clear{type: "button"} Clear
#calOne
  
#authentication
  %input#username{type: "text", placeholder: "Username"}
  %input#password{type: "password", placeholder: "Password"}

#reservations-block
  %ul#reservations