%label{for: "calOneDays"} Days
%select#calOneDays
  - 10.times do |n|
    %option{value: n}=n

%label{for: "timespan-start"} Start
%select#timespan-start
  - 25.times do |n|
    %option{value: n}=n
    
%label{for: "timespan-end"} End
%select#timespan-end
  - 25.times do |n|
    - if n == 23
      %option{value: n, selected: true}=n
    - else
      %option{value: n}=n
              
%label{for: "floor"} Floor
%select#floor
  - (3..6).each do |n|
    %option{value: n}=n

%button#make-reservation{type: "button"} Reserve
%button#clear{type: "button"} Clear
#calOne

#authentication
  %input#username{type: "text", placeholder: "Username"}
  %input#password{type: "password", placeholder: "Password"}