!!! 5
%html
  %head
    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=UTF-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}
    
    %script{src: "/javascripts/jquery.js"}
    %script{src: "/javascripts/jcal.js"}
    %script{src: "/javascripts/faye-browser-min.js"}
    %script{src: "/javascripts/cookie.js"}
    %script{src: "/javascripts/application.js"}
    %script{src: "/javascripts/shared.js"}
    %script{src: "/javascripts/jquery.gritter.min.js"}
    %script{src: "/javascripts/jquery.color.js"}
    %script{src: "/javascripts/jquery-glowing.js"}
    %link{href: "/stylesheets/jcal.css", rel: "stylesheet", media: "screen"}
    %link{href: "/stylesheets/application.css", rel: "stylesheet", media: "screen"}
    %link{href: "/stylesheets/jquery.gritter.css", rel: "stylesheet", media: "screen"}
    
    %title TimeEdit V2.0.0
  %body
    #main
      #wrap
        = yield
      #footer
        .left
          %a{href: "https://github.com/oleander"} Contact 
          |  
          %a{href: "https://github.com/Tarrasch/room-booker-rb"} Fork me
          |
          %a#now{href: "#"} Now!
        .right
          .red.circle{title: "Something when wrong during the booking process"}
          .yellow.circle{title: "There are no rooms available on the given floor"}
          .green.circle{title: "Everything when okay"}
