!!! 5
%html
  %head
    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=UTF-8"}
    
    %script{src: "/javascripts/jquery.js"}
    %script{src: "/javascripts/jcal.js"}
    %script{src: "/javascripts/faye-browser-min.js"}
    %script{src: "/javascripts/cookie.js"}
    %script{src: "/javascripts/application.js"}
    %script{src: "/javascripts/jquery.gritter.min.js"}
    
    %link{href: "/stylesheets/jcal.css", rel: "stylesheet", media: "screen"}
    %link{href: "/stylesheets/application.css", rel: "stylesheet", media: "screen"}
    %link{href: "/stylesheets/jquery.gritter.css", rel: "stylesheet", media: "screen"}
    
    %title TimeEdit V2.0.0
  %body
    #main
      #wrap
        = yield
      #footer
        %a{href: "https://github.com/oleander"} Contact 
        |  
        %a{href: "https://github.com/Tarrasch/room-booker-rb"} Fork me