!!! 5
%html
  %head
    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=UTF-8"}
    %script{src: "/javascripts/jquery.js"}
    %script{src: "/javascripts/jcal.js"}
    %script{src: "/javascripts/application.js"}
    %link{href: "/stylesheets/jcal.css", rel: "stylesheet", media: "screen"}
    %title Title
  %body
    = yield