%div#main{"data-role" => "page", "data-theme" => "b"}
  %div{"data-role" => "content"}
    %div{"data-role" => "fieldcontain"}
      %input#username{type: "text", placeholder: "Username"}
    %div{"data-role" => "fieldcontain"}
      %input#password{type: "password", placeholder: "Password"}

%div#now{"data-role" => "page", "data-theme" => "b"}
  %div{"data-role" => "content"}
    #button
      %span Book
    