#button {
  display: block;
  width: 200px;
  height: 200px;
  background: red;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  text-align: center;
  box-shadow: 5px 5px 5px #888;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
}

#button span {
  font-color: black;
  position: relative;
  top: 80px;
  font-size: 40px;
}